<div class="container-fluid h-100 px-4">
  <div class="row">
    <div class="col-12">
      <yuj-header></yuj-header>
    </div>
  </div>
  <div class="main-container">
    <div class="side">
      <yuj-sidebar></yuj-sidebar>
    </div>
    <div class="main">
      <yuj-main></yuj-main>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <yuj-footer></yuj-footer>
    </div>
  </div>
</div>

<!-- <button (click)="changeColor('BLUE')">Blue color</button>
<button (click)="changeColor('RED')">Red color</button>
<button (click)="zoomIn()">Zoom In</button>
<button (click)="zoomOut()">Zoom Out</button>
<div id="one3d"></div> -->
