<h5>Ticket</h5>
<h6>Template Driven Form</h6>
<form #supportForm="ngForm">
  {{ supportForm.value | json }}
  <div class="mb-3">
    <label for="ticketName" class="form-label">Ticket Name</label>
    <input
      type="text"
      class="form-control"
      id="ticketName"
      name="ticketName"
      [(ngModel)]="supportModule.ticketName"
    />
    <!-- <div *ngIf="supportForm.controls.ticketName"></div> -->
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      id="description"
      class="form-control"
      name="description"
      placeholder="description"
      [(ngModel)]="supportModule.description"
    ></textarea>
  </div>
  <div class="mb-3">
    <label for="priority" class="form-label">Priority</label>
    <select
      class="form-select"
      id="priority"
      name="priority"
      [(ngModel)]="supportModule.priority"
    >
      <option *ngFor="let priority of severity">{{ priority }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" (click)="submitSupportForm()">
    Submit
  </button>
</form>
