.product-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;

  .product-wrap {
    display: flex;
    column-gap: 20px;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    overflow: auto;
    .card {
      width: 250px;
      flex-shrink: 0;
      img {
        width: 120px;
        height: 120px;
        object-fit: contain;
      }
      a {
        font-size: 14px;
      }
    }
  }
}
