<div class="product-container">
  <h5>{{ productConfigs.categoryName }}</h5>
  <!-- {{ productConfigs | json }} -->
  <div class="product-wrap">
    <div class="card" *ngFor="let product of productConfigs.products">
      <div class="d-flex justify-content-center p-3 img">
        <img [src]="product.img" class="rounded" alt="..." />
      </div>
      <div class="card-body">
        <h6 class="card-title">{{ product.name }}a</h6>
        <a href="#" class="card-link">{{ product.shortDes }}</a>
      </div>
    </div>
  </div>
</div>
